# **Python Programming For Data Analytics Assignment**


---


### **Name**: Niranjan A
> 
### **Roll No.**: 20352038


---

## **1. Create A Data Frame Using Different Methods**

#### *1.1 Creating An Empty Data Frame & Adding Records*

In [ ]:
import pandas as pd

df = pd.DataFrame(columns = ["Roll No.","Name", "Quirk"])

In [ ]:
df.loc[0] = [101, "Shoto Todoroki","Half Cold, Half Hot"]
df.loc[1] = [102,"Katsuki Bakugo", "Explosion"]
df.loc[2] = [103,"Tsuyu Asui", "Frog Form"]
df.loc[3] = [104,"Fumikage Tokoyami", "Dark Shadow"]
df.loc[4] = [105,"Ochako Uraraka", "Gravity"]
df.loc[5] = [106,"Izuku Midoriya", "One For All"]

df

  Roll No.               Name                Quirk
0      101     Shoto Todoroki  Half Cold, Half Hot
1      102     Katsuki Bakugo            Explosion
2      103         Tsuyu Asui            Frog Form
3      104  Fumikage Tokoyami          Dark Shadow
4      105     Ochako Uraraka              Gravity
5      106     Izuku Midoriya          One For All

#### *1.2 Creating A Data Frame Using Numpy*

In [ ]:
import numpy as np

array_data = np.array([[201, "Monkey D. Luffy","Captain"],
               [202,"Roronoa Zorro", "Swordsman"],
               [203,"Ussopp", "Mechanic"],
               [204,"Nami", "Navigator"],
               [205,"Tony Tony Chopper", "Doctor"],
               [206,"Robin", "Archeologist"],
               [207,"Sanji", "Cook"]])

df1 = pd.DataFrame(array_data, columns = ["Roll No", "Name", "Role"])

df1

  Roll No               Name          Role
0     201    Monkey D. Luffy       Captain
1     202      Roronoa Zorro     Swordsman
2     203             Ussopp      Mechanic
3     204               Nami     Navigator
4     205  Tony Tony Chopper        Doctor
5     206              Robin  Archeologist
6     207              Sanji          Cook

#### *1.3 Creating A Data Frame Using List*

In [ ]:
data_list = [[301, "Yami", "Dark Magic"],
             [302, "Asta", "Demon Magic"],
             [303, "Noelle Silva", "Water Magic"],
             [304, "Luck Voltia", "Lightning Magic"],
             [305, "Vanessa Enoteca", "Witch Spells"]]

df2 = pd.DataFrame(data_list, columns = ["Member Id", "Member Name", "Magic"])

df2

   Member Id      Member Name            Magic
0        301             Yami       Dark Magic
1        302             Asta      Demon Magic
2        303     Noelle Silva      Water Magic
3        304      Luck Voltia  Lightning Magic
4        305  Vanessa Enoteca     Witch Spells

#### *1.4 Creating A Data Frame Using Dictionary*

##### *1.4.1 Using Dictionary in DataFrame Constructor*

In [ ]:
import pandas as pd

data = {"Member Id":[401,402,403,404,405],
        "Member Name":["Yami", "Asta", "Noelle Silva", "Luck Voltia", "Vanessa Enoteca"],
        "Magic":["Dark Magic", "Demon Magic", "Water Magic", "Lightning Magic","Witch Spells"]   
}

df3 = pd.DataFrame(data)

df3

   Member Id      Member Name            Magic
0        401             Yami       Dark Magic
1        402             Asta      Demon Magic
2        403     Noelle Silva      Water Magic
3        404      Luck Voltia  Lightning Magic
4        405  Vanessa Enoteca     Witch Spells

##### *1.4.2 Using List of Dictionaries*

In [ ]:
data_dict_list = [{"Member Id": 401,"Member Name": "Yami", "Magic": "Dark Magic"},
                  {"Member Id": 402,"Member Name": "Asta", "Magic": "Demon Magic"},
                  {"Member Id": 403,"Member Name": "Noelle Silva", "Magic": "Water Magic"},
                  {"Member Id": 404,"Member Name": "Luck Voltia", "Magic": "Lightning Magic"},
                  {"Member Id": 405,"Member Name": "Vanessa Enoteca", "Magic": "Witch Spells"}]

df4 = pd.DataFrame(data_dict_list) 

df4

   Member Id      Member Name            Magic
0        401             Yami       Dark Magic
1        402             Asta      Demon Magic
2        403     Noelle Silva      Water Magic
3        404      Luck Voltia  Lightning Magic
4        405  Vanessa Enoteca     Witch Spells

##### *1.4.3 Using from_dict Method*

In [ ]:
data_dictmethod = {"Member Id":[401,402,403,404,405],
        "Member Name":["Yami", "Asta", "Noelle Silva", "Luck Voltia", "Vanessa Enoteca"],
        "Magic":["Dark Magic", "Demon Magic", "Water Magic", "Lightning Magic","Witch Spells"]   
}

df5 = pd.DataFrame().from_dict(data_dictmethod, orient="index",columns=["Mage1", "Mage2", "Mage3", "Mage4", "Mage5"])

df5

                  Mage1        Mage2  ...            Mage4            Mage5
Member Id           401          402  ...              404              405
Member Name        Yami         Asta  ...      Luck Voltia  Vanessa Enoteca
Magic        Dark Magic  Demon Magic  ...  Lightning Magic     Witch Spells

[3 rows x 5 columns]

## **2. Creating a Data File from CSV File**

### *2.1 Uploading From local drive*

In [1]:
import pandas as pd

from google.colab import files
uploaded = files.upload()

Saving Book1.csv to Book1.csv

In [2]:
import io
new_df = pd.read_csv(io.BytesIO(uploaded['Book1.csv']))

new_df

   Rank     Hero Name                Quirk
0     1      Allmight          One For All
1     2      Endeavor                 Fire
2     3         Hawks  Fierce/Mighty Wings
3     4  Best Jeanist         Fiber Master
4     5     Edge Shot            Foldabody
5     6    Eraserhead         Quirk Cancel

### *2.2 Uploading From GitHub*

In [3]:
url = 'https://raw.githubusercontent.com/Niranjan-A/PPDA_Assignment/main/Book1.csv'
new_df2 = pd.read_csv(url)

new_df2

   Rank     Hero Name                Quirk
0     1      Allmight          One For All
1     2      Endeavor                 Fire
2     3         Hawks  Fierce/Mighty Wings
3     4  Best Jeanist         Fiber Master
4     5     Edge Shot            Foldabody
5     6    Eraserhead         Quirk Cancel

### *2.2 Uploading From Google Drive*

In [4]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
new_df3 = pd.read_csv('/content/drive/My Drive/PPDA Assignment/Book1.csv')

new_df3

Mounted at /content/drive

   Rank     Hero Name                Quirk
0     1      Allmight          One For All
1     2      Endeavor                 Fire
2     3         Hawks  Fierce/Mighty Wings
3     4  Best Jeanist         Fiber Master
4     5     Edge Shot            Foldabody
5     6    Eraserhead         Quirk Cancel

## **3. Group By Operation from CSV File**

#### *3.1. **groupby:** splitting to groups*

In [7]:
url = 'https://raw.githubusercontent.com/Niranjan-A/PPDA_Assignment/main/ramen-ratings.csv'
df = pd.read_csv(url)

g_df = df.groupby('Style')

#### *3.2. **ngroups:** To Find the number of groups*

In [8]:
g_df.ngroups

7

#### *3.4. **groups():** To find groupwise row numbers*

In [9]:
g_df.groups

{'Bar': [1425], 'Bowl': [13, 25, 27, 28, 33, 34, 48, 51, 54, 63, 65, 69, 75, 77, 97, 100, 104, 105, 116, 118, 120, 126, 128, 136, 141, 143, 148, 149, 152, 164, 165, 166, 177, 179, 183, 188, 193, 195, 205, 208, 218, 219, 222, 223, 226, 233, 258, 259, 261, 263, 265, 283, 286, 291, 294, 301, 303, 307, 308, 319, 321, 322, 324, 328, 333, 340, 344, 345, 346, 348, 352, 355, 366, 374, 375, 377, 385, 390, 396, 400, 417, 420, 434, 438, 439, 440, 447, 454, 456, 463, 476, 481, 484, 492, 495, 504, 508, 510, 525, 532, ...], 'Box': [36, 80, 139, 161, 203, 1471], 'Can': [67], 'Cup': [0, 2, 6, 15, 20, 22, 37, 39, 41, 42, 43, 45, 60, 81, 83, 85, 87, 89, 91, 93, 95, 99, 109, 111, 112, 115, 125, 132, 134, 137, 138, 147, 151, 154, 155, 158, 160, 167, 175, 180, 186, 190, 191, 197, 198, 199, 201, 204, 209, 221, 224, 227, 230, 231, 236, 237, 239, 240, 241, 243, 244, 245, 246, 247, 249, 253, 254, 260, 264, 266, 271, 272, 274, 279, 282, 284, 285, 292, 295, 296, 299, 304, 306, 314, 315, 318, 326, 327, 332, 334, 335, 337, 338, 341, 343, 347, 349, 359, 361, 369, ...], 'Pack': [1, 3, 4, 5, 8, 9, 10, 11, 12, 14, 16, 17, 18, 19, 21, 23, 24, 26, 29, 30, 31, 32, 35, 40, 44, 46, 47, 49, 50, 52, 53, 55, 56, 57, 58, 59, 62, 64, 66, 68, 70, 71, 72, 73, 74, 76, 78, 79, 82, 84, 86, 88, 90, 92, 94, 96, 98, 101, 102, 103, 106, 107, 108, 110, 113, 114, 117, 119, 121, 122, 123, 124, 127, 129, 130, 131, 133, 135, 140, 142, 144, 145, 146, 150, 153, 156, 157, 159, 163, 168, 169, 170, 171, 172, 173, 174, 176, 178, 181, 184, ...], 'Tray': [7, 38, 61, 162, 182, 278, 325, 364, 422, 424, 519, 622, 663, 670, 723, 734, 794, 934, 983, 1020, 1036, 1059, 1079, 1134, 1158, 1179, 1241, 1250, 1270, 1290, 1296, 1327, 1338, 1355, 1367, 1415, 1421, 1463, 1465, 1475, 1477, 1533, 1535, 1577, 1580, 1590, 1596, 1597, 1598, 1600, 1601, 1602, 1610, 1612, 1615, 1633, 1642, 1649, 1652, 1676, 1677, 1686, 1699, 1740, 1785, 1796, 1844, 1871, 1876, 1882, 1887, 1890, 1968, 2008, 2084, 2187, 2188, 2194, 2200, 2201, 2209, 2211, 2263, 2266, 2267, 2271, 2274, 2277, 2283, 2294, 2300, 2301, 2317, 2336, 2339, 2354, 2362, 2365, 2366, 2368, ...]}

#### *3.3. **size():** To find the size of groups*

In [10]:
g_df.size()

Style
Bar        1
Bowl     481
Box        6
Can        1
Cup      450
Pack    1531
Tray     108
dtype: int64

#### *3.4. **first & last:** To view the first & last entries of dataset*

In [11]:
g_df.first()

       Review #                 Brand  ... Stars   Top Ten
Style                                  ...
Bar        1155  Komforte Chockolates  ...     5      None
Bowl       2567                Nissin  ...   4.5        \n
Box        2544                Lipton  ...   1.5      None
Can        2513              Pringles  ...   3.5      None
Cup        2580             New Touch  ...  3.75        \n
Pack       2579              Just Way  ...     1  2016 #10
Tray       2573           Ikeda Shoku  ...  3.75   2015 #9

[7 rows x 6 columns]

In [12]:
g_df.last()

       Review #                 Brand  ... Stars  Top Ten
Style                                  ...
Bar        1155  Komforte Chockolates  ...     5     None
Bowl          5                 Vifon  ...   3.5       \n
Box        1109              La Fonte  ...  4.25     None
Can        2513              Pringles  ...   3.5     None
Cup           9                 Sutah  ...     2       \n
Pack          1              Westbrae  ...   0.5  2012 #4
Tray         31                 Myojo  ...     4  2013 #6

[7 rows x 6 columns]

#### *3.5. **get_group():** To select a group*

In [15]:
grouped = df.groupby('Country')
grouped.get_group('Japan')

      Review #            Brand  ... Stars  Top Ten
0         2580        New Touch  ...  3.75      NaN
6         2574          Acecook  ...     4      NaN
7         2573      Ikeda Shoku  ...  3.75      NaN
8         2572       Ripe'n'Dry  ...  0.25      NaN
13        2567           Nissin  ...   4.5      NaN
...        ...              ...  ...   ...      ...
2554        26           Nissin  ...     4      NaN
2555        25           Nissin  ...     3      NaN
2556        24           Nissin  ...     2      NaN
2567        13  Sapporo Ichiban  ...     5  2012 #4
2568        12  Sapporo Ichiban  ...   2.5      NaN

[352 rows x 7 columns]

## **4. Combining & Merging Datasets**

#### *4.1. Using concat()*

In [16]:
data_1 = {"Member Id":[401,402,403,404,405],
        "Member Name":["Yami", "Asta", "Noelle Silva", "Luck Voltia", "Vanessa Enoteca"],
        "Magic Type":["Dark Magic", "Demon Magic", "Water Magic", "Lightning Magic","Witch Spells"]}
  

data_2 = {"Member Id":[406,407,408,409,410,411],
         "Member Name":["Henry Legolant", "Magna Swing", "Grey", "Finral Roulacase", "Gordon Agrippa", "Gauche Adlai"],
          "Magic Type" :["Demon Magic", "Fire Magice", "Transformation Magic", "Spatial Magic", "Curse Magic", "Mirror Magic"]}
          

df1= pd.DataFrame(data_1, index=[0, 1, 2, 3, 4])
df1

   Member Id      Member Name       Magic Type
0        401             Yami       Dark Magic
1        402             Asta      Demon Magic
2        403     Noelle Silva      Water Magic
3        404      Luck Voltia  Lightning Magic
4        405  Vanessa Enoteca     Witch Spells

In [17]:
df2 = pd.DataFrame(data_2, index=[5, 6, 7, 8, 9, 10])
df2

    Member Id       Member Name            Magic Type
5         406    Henry Legolant           Demon Magic
6         407       Magna Swing           Fire Magice
7         408              Grey  Transformation Magic
8         409  Finral Roulacase         Spatial Magic
9         410    Gordon Agrippa           Curse Magic
10        411      Gauche Adlai          Mirror Magic

In [18]:
frames = [df1, df2]
final_df = pd.concat(frames)

final_df

    Member Id       Member Name            Magic Type
0         401              Yami            Dark Magic
1         402              Asta           Demon Magic
2         403      Noelle Silva           Water Magic
3         404       Luck Voltia       Lightning Magic
4         405   Vanessa Enoteca          Witch Spells
5         406    Henry Legolant           Demon Magic
6         407       Magna Swing           Fire Magice
7         408              Grey  Transformation Magic
8         409  Finral Roulacase         Spatial Magic
9         410    Gordon Agrippa           Curse Magic
10        411      Gauche Adlai          Mirror Magic

#### *4.2. Using merge()*

In [19]:
data_a = {"Member Id":[401,402,403,404,405,406,407,408,409,410,411],
        "Member Name":["Yami", "Asta", "Noelle Silva", "Luck Voltia", "Vanessa Enoteca", "Henry Legolant", "Magna Swing", "Grey", "Finral Roulacase", "Gordon Agrippa", "Gauche Adlai"]}

data_b = {"Member Id":[401,402,403,404,405,406,407,408,409,410,411],
          "Magic Type" :["Dark Magic", "Demon Magic", "Water Magic", "Lightning Magic","Witch Spells", "Demon Magic", "Fire Magice", "Transformation Magic", "Spatial Magic", "Curse Magic", "Mirror Magic"]}

df_a = pd.DataFrame(data_a)
df_a

    Member Id       Member Name
0         401              Yami
1         402              Asta
2         403      Noelle Silva
3         404       Luck Voltia
4         405   Vanessa Enoteca
5         406    Henry Legolant
6         407       Magna Swing
7         408              Grey
8         409  Finral Roulacase
9         410    Gordon Agrippa
10        411      Gauche Adlai

In [20]:
df_b = pd.DataFrame(data_b)
df_b

    Member Id            Magic Type
0         401            Dark Magic
1         402           Demon Magic
2         403           Water Magic
3         404       Lightning Magic
4         405          Witch Spells
5         406           Demon Magic
6         407           Fire Magice
7         408  Transformation Magic
8         409         Spatial Magic
9         410           Curse Magic
10        411          Mirror Magic

In [21]:
df_a.merge(df_b, left_on='Member Id', right_on='Member Id')

    Member Id       Member Name            Magic Type
0         401              Yami            Dark Magic
1         402              Asta           Demon Magic
2         403      Noelle Silva           Water Magic
3         404       Luck Voltia       Lightning Magic
4         405   Vanessa Enoteca          Witch Spells
5         406    Henry Legolant           Demon Magic
6         407       Magna Swing           Fire Magice
7         408              Grey  Transformation Magic
8         409  Finral Roulacase         Spatial Magic
9         410    Gordon Agrippa           Curse Magic
10        411      Gauche Adlai          Mirror Magic

#### *4.3. Using join()*

In [22]:
df_c = pd.DataFrame({"Member Id":[401,402,403,404,405],
        "Member Name":["Yami", "Asta", "Noelle Silva", "Luck Voltia", "Vanessa Enoteca"],
        "Magic Type":["Dark Magic", "Demon Magic", "Water Magic", "Lightning Magic","Witch Spells"]})

df_d = pd.DataFrame({"Member Id":[406,407,408,409,410],
         "Member Name":["Henry Legolant", "Magna Swing", "Grey", "Finral Roulacase", "Gordon Agrippa"],
          "Magic Type" :["Demon Magic", "Fire Magice", "Transformation Magic", "Spatial Magic", "Curse Magic"]})

fin = df_c.join(df_d, lsuffix="_c", rsuffix="_d")
fin

   Member Id_c    Member Name_c  ...     Member Name_d          Magic Type_d
0          401             Yami  ...    Henry Legolant           Demon Magic
1          402             Asta  ...       Magna Swing           Fire Magice
2          403     Noelle Silva  ...              Grey  Transformation Magic
3          404      Luck Voltia  ...  Finral Roulacase         Spatial Magic
4          405  Vanessa Enoteca  ...    Gordon Agrippa           Curse Magic

[5 rows x 6 columns]

## **5. Indexing in Data Frame**

#### *5.1. Using column name*

In [23]:
team_data = [[301, "Yami", "Dark Magic"],
             [302, "Asta", "Demon Magic"],
             [303, "Noelle Silva", "Water Magic"],
             [304, "Luck Voltia", "Lightning Magic"],
             [305, "Vanessa Enoteca", "Witch Spells"]]

black_bulls = pd.DataFrame(team_data, columns = ["Member Id", "Member Name", "Magic"])

black_bulls[["Member Name", "Magic"]]

       Member Name            Magic
0             Yami       Dark Magic
1             Asta      Demon Magic
2     Noelle Silva      Water Magic
3      Luck Voltia  Lightning Magic
4  Vanessa Enoteca     Witch Spells

#### *5.2. Using loc method*

In [24]:
black_bulls.loc[[0,1,4],['Member Name','Magic']]

       Member Name         Magic
0             Yami    Dark Magic
1             Asta   Demon Magic
4  Vanessa Enoteca  Witch Spells

#### *5.3. Using iloc method*

In [25]:
black_bulls.iloc[:4,1:2]

    Member Name
0          Yami
1          Asta
2  Noelle Silva
3   Luck Voltia

## **6. Aggregate functions in Data Frame**

#### **6.1. mean():** *computes mean values for each group*

In [26]:
import pandas as pd
data_url = 'http://bit.ly/2cLzoxH'

df = pd.read_csv(data_url)
df.head(3)

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710

In [27]:
df_population = df[['continent','pop']]

df_population.head()

  continent         pop
0      Asia   8425333.0
1      Asia   9240934.0
2      Asia  10267083.0
3      Asia  11537966.0
4      Asia  13079460.0

In [28]:
df_population.groupby("continent").mean()

                    pop
continent
Africa     9.916003e+06
Americas   2.450479e+07
Asia       7.703872e+07
Europe     1.716976e+07
Oceania    8.874672e+06

#### **6.2. sum():** *adds of values within each group*

In [29]:
df_population.groupby("continent").sum()

                    pop
continent
Africa     6.187586e+09
Americas   7.351438e+09
Asia       3.050733e+10
Europe     6.181115e+09
Oceania    2.129921e+08

#### **6.3. size():** *computes the size per each group*

In [30]:
df_population.groupby("continent").size()

continent
Africa      624
Americas    300
Asia        396
Europe      360
Oceania      24
dtype: int64

#### **6.4. count():** *computes the number of values with in each group*

In [31]:
df_population.groupby("continent").count()

           pop
continent
Africa     624
Americas   300
Asia       396
Europe     360
Oceania     24

#### **6.5. std():** *computes standard deviation of the values within each group*

In [32]:
df_population.groupby("continent").std()

                    pop
continent
Africa     1.549092e+07
Americas   5.097943e+07
Asia       2.068852e+08
Europe     2.051944e+07
Oceania    6.506342e+06

#### **6.6. describe():** *computes a quick summary of values per group*

In [33]:
df_population.groupby("continent").describe()

             pop                ...
           count          mean  ...          75%           max
continent                       ...
Africa     624.0  9.916003e+06  ...  10801489.75  1.350312e+08
Americas   300.0  2.450479e+07  ...  18340309.00  3.011399e+08
Asia       396.0  7.703872e+07  ...  46300348.00  1.318683e+09
Europe     360.0  1.716976e+07  ...  21802867.00  8.240100e+07
Oceania     24.0  8.874672e+06  ...  14351625.00  2.043418e+07

[5 rows x 8 columns]

#### **6.7. max():** *Compute max of group values*

In [34]:
df_population.groupby("continent").max()

                    pop
continent
Africa     1.350312e+08
Americas   3.011399e+08
Asia       1.318683e+09
Europe     8.240100e+07
Oceania    2.043418e+07

#### **6.8. min():** *Compute min of group values*

In [35]:
df_population.groupby("continent").min()

                 pop
continent
Africa       60011.0
Americas    662850.0
Asia        120447.0
Europe      147962.0
Oceania    1994794.0

## **7. Appending rows and columns in Data Frame**

#### *7.1. Appending One Data Frame to another*

In [36]:
data_1 = {"Member Id":[401,402,403,404,405],
        "Member Name":["Yami", "Asta", "Noelle Silva", "Luck Voltia", "Vanessa Enoteca"],
        "Magic Type":["Dark Magic", "Demon Magic", "Water Magic", "Lightning Magic","Witch Spells"]}
  

data_2 = {"Member Id":[406,407,408,409,410,411],
         "Member Name":["Henry Legolant", "Magna Swing", "Grey", "Finral Roulacase", "Gordon Agrippa", "Gauche Adlai"],
          "Magic Type" :["Demon Magic", "Fire Magice", "Transformation Magic", "Spatial Magic", "Curse Magic", "Mirror Magic"]}
          

df1= pd.DataFrame(data_1)
df2 = pd.DataFrame(data_2)

result1 = df1.append(df2)
result1

   Member Id       Member Name            Magic Type
0        401              Yami            Dark Magic
1        402              Asta           Demon Magic
2        403      Noelle Silva           Water Magic
3        404       Luck Voltia       Lightning Magic
4        405   Vanessa Enoteca          Witch Spells
0        406    Henry Legolant           Demon Magic
1        407       Magna Swing           Fire Magice
2        408              Grey  Transformation Magic
3        409  Finral Roulacase         Spatial Magic
4        410    Gordon Agrippa           Curse Magic
5        411      Gauche Adlai          Mirror Magic

#### *7.2. Appending One Data Frame to another using ignore_index*

In [37]:
result2 = df1.append(df2, ignore_index = True)

result2

    Member Id       Member Name            Magic Type
0         401              Yami            Dark Magic
1         402              Asta           Demon Magic
2         403      Noelle Silva           Water Magic
3         404       Luck Voltia       Lightning Magic
4         405   Vanessa Enoteca          Witch Spells
5         406    Henry Legolant           Demon Magic
6         407       Magna Swing           Fire Magice
7         408              Grey  Transformation Magic
8         409  Finral Roulacase         Spatial Magic
9         410    Gordon Agrippa           Curse Magic
10        411      Gauche Adlai          Mirror Magic

#### *7.3. Appending Data Frame of Different Shape*

In [38]:
import pandas as pd

data_1 = {"Member Id":[401,402,403,404,405],
        "Member Name":["Yami", "Asta", "Noelle Silva", "Luck Voltia", "Vanessa Enoteca"],
        "Magic Type":["Dark Magic", "Demon Magic", "Water Magic", "Lightning Magic","Witch Spells"]}

data_3 = {"Member Id":[406,407,408,409,410,411],
         "Member Name":["Henry Legolant", "Magna Swing", "Grey", "Finral Roulacase", "Gordon Agrippa", "Gauche Adlai"]}    


df1 = pd.DataFrame(data_1)
df3 = pd.DataFrame(data_3)

result3 = df1.append(df3, ignore_index = True)

result3

    Member Id       Member Name       Magic Type
0         401              Yami       Dark Magic
1         402              Asta      Demon Magic
2         403      Noelle Silva      Water Magic
3         404       Luck Voltia  Lightning Magic
4         405   Vanessa Enoteca     Witch Spells
5         406    Henry Legolant              NaN
6         407       Magna Swing              NaN
7         408              Grey              NaN
8         409  Finral Roulacase              NaN
9         410    Gordon Agrippa              NaN
10        411      Gauche Adlai              NaN


#### *7.4. Adding a single row using DataFrame.loc*

In [39]:
result3.loc[len(result3.index)] = [412,'Julius Novachrono','Time magic'] 

result3

    Member Id        Member Name       Magic Type
0         401               Yami       Dark Magic
1         402               Asta      Demon Magic
2         403       Noelle Silva      Water Magic
3         404        Luck Voltia  Lightning Magic
4         405    Vanessa Enoteca     Witch Spells
5         406     Henry Legolant              NaN
6         407        Magna Swing              NaN
7         408               Grey              NaN
8         409   Finral Roulacase              NaN
9         410     Gordon Agrippa              NaN
10        411       Gauche Adlai              NaN
11        412  Julius Novachrono       Time magic

#### *7.5. Adding new column to existing DataFrame using DataFrame.insert()*

In [40]:
result3.insert(3, "Powerful", "yes", True)

result3

    Member Id        Member Name       Magic Type Powerful
0         401               Yami       Dark Magic      yes
1         402               Asta      Demon Magic      yes
2         403       Noelle Silva      Water Magic      yes
3         404        Luck Voltia  Lightning Magic      yes
4         405    Vanessa Enoteca     Witch Spells      yes
5         406     Henry Legolant              NaN      yes
6         407        Magna Swing              NaN      yes
7         408               Grey              NaN      yes
8         409   Finral Roulacase              NaN      yes
9         410     Gordon Agrippa              NaN      yes
10        411       Gauche Adlai              NaN      yes
11        412  Julius Novachrono       Time magic      yes

## **8. Pivoting operations with Data Frame**

#### *8.1. Using pivot()*

In [ ]:
result3.pivot(index ='Member Name', columns = 'Powerful', values = 'Magic Type')

Powerful                       yes
Member Name
Asta                   Demon Magic
Finral Roulacase               NaN
Gauche Adlai                   NaN
Gordon Agrippa                 NaN
Grey                           NaN
Henry Legolant                 NaN
Julius Novachrono       Time magic
Luck Voltia        Lightning Magic
Magna Swing                    NaN
Noelle Silva           Water Magic
Vanessa Enoteca       Witch Spells
Yami                    Dark Magic

#### *8.2. Using pivot_table()*

In [ ]:
import pandas as pd

data = {'A':[802,805,808,811,815],
        'B':['aaa','bbb','ccc','ddd','eee'],
        'C':[20,30,35,38,70]}                

df = pd.DataFrame(data)
df2 = pd.pivot_table(data = df, index = 'A', columns = 'B', values ='C')
df2

B     aaa   bbb   ccc   ddd   eee
A
802  20.0   NaN   NaN   NaN   NaN
805   NaN  30.0   NaN   NaN   NaN
808   NaN   NaN  35.0   NaN   NaN
811   NaN   NaN   NaN  38.0   NaN
815   NaN   NaN   NaN   NaN  70.0

## **9. Different Possible Operations to a Data Frame**

#### *9.1. Slicing*

In [ ]:
new_df1 = result3[2:5]

new_df1

   Member Id      Member Name       Magic Type Powerful
2        403     Noelle Silva      Water Magic      yes
3        404      Luck Voltia  Lightning Magic      yes
4        405  Vanessa Enoteca     Witch Spells      yes

#### *9.2. Selecting specific columns*

In [ ]:
new_df2 = result3.loc[:, ['Member Name','Magic Type']]

new_df2

          Member Name       Magic Type
0                Yami       Dark Magic
1                Asta      Demon Magic
2        Noelle Silva      Water Magic
3         Luck Voltia  Lightning Magic
4     Vanessa Enoteca     Witch Spells
5      Henry Legolant              NaN
6         Magna Swing              NaN
7                Grey              NaN
8    Finral Roulacase              NaN
9      Gordon Agrippa              NaN
10       Gauche Adlai              NaN
11  Julius Novachrono       Time magic

#### **9.2. Using var():** *To find variance*

In [ ]:
import pandas as pd
  
sr1 = pd.Series([19.5, 16.8, 22.78, 20.124, 18.1002])

print(sr1)
sr1.var()

0    19.5000
1    16.8000
2    22.7800
3    20.1240
4    18.1002
dtype: float64

5.097387128

#### **9.4. sem()**: *To find standard error of the mean*

In [ ]:
sr2 = pd.Series([100, 214, 325, 88, None, 325, None, 68])

print(sr2)
sr2.std()

0    100.0
1    214.0
2    325.0
3     88.0
4      NaN
5    325.0
6      NaN
7     68.0
dtype: float64

118.61478266500626

#### **9.4. head()**: *returns the first n rows*

In [ ]:
url = 'https://raw.githubusercontent.com/Niranjan-A/PPDA_Assignment/main/ramen-ratings.csv'
df = pd.read_csv(url)

df.head(4)

   Review #      Brand  ... Stars Top Ten
0      2580  New Touch  ...  3.75     NaN
1      2579   Just Way  ...     1     NaN
2      2578     Nissin  ...  2.25     NaN
3      2577    Wei Lih  ...  2.75     NaN

[4 rows x 7 columns]

#### **9.5. tail()**: *returns the last n rows*

In [ ]:
df.tail(4)

      Review #     Brand  ... Stars Top Ten
2576         4   Wai Wai  ...     1     NaN
2577         3   Wai Wai  ...     2     NaN
2578         2   Wai Wai  ...     2     NaN
2579         1  Westbrae  ...   0.5     NaN

[4 rows x 7 columns]

## **10. String Manipulations**

#### **10.1. Creating & indexing string**

In [41]:
import pandas as pd

df = pd.Series(["Python", "Programming", "for", "Data", "Analytics"])

df[3]

'Data'

#### **10.2. upper():** *Converts strings in the Series/Index to upper case*

In [42]:
df.str.upper()

0         PYTHON
1    PROGRAMMING
2            FOR
3           DATA
4      ANALYTICS
dtype: object

#### **10.3. lower():** *Converts strings in the Series/Index to lower case*

In [43]:
df.str.lower()

0         python
1    programming
2            for
3           data
4      analytics
dtype: object

#### **10.4. len():** *Computes String length*

In [44]:
df.str.len()

0     6
1    11
2     3
3     4
4     9
dtype: int64

#### **10.5. strip():** *strips whitespace(including newline) from each string in the Series/index from both the sides*

In [45]:
s = pd.Series(['Hello ', '   good', 'morning   '])
print(s)
print ("\nAfter Stripping:")
s.str.strip()

0        Hello
1          good
2    morning
dtype: object

After Stripping:

0      Hello
1       good
2    morning
dtype: object

#### **10.6. split():** *Splits each string with the given pattern*

In [46]:
df.str.split()

0         [Python]
1    [Programming]
2            [for]
3           [Data]
4      [Analytics]
dtype: object

#### **10.7. swapcase():** *Swaps the case lower/upper*

In [47]:
df.str.swapcase()

0         pYTHON
1    pROGRAMMING
2            FOR
3           dATA
4      aNALYTICS
dtype: object

#### **10.8. replace(a,b):** *Replaces the value a with the value b*

In [48]:
 df.str.replace("Analytics", "Science")

0         Python
1    Programming
2            for
3           Data
4        Science
dtype: object

#### **10.9. find():** *Returns the first position of the first occurrence of the pattern*

In [49]:
df.str.find('P')

0    0
1    0
2   -1
3   -1
4   -1
dtype: int64

#### **10.10. findall():** *Returns the first position of the first occurrence of the pattern*

In [50]:
df.str.findall('P')

0    [P]
1    [P]
2     []
3     []
4     []
dtype: object

#### **10.11. startswith():** *Returns true if the element in the Series/Index starts with the pattern.*

In [51]:
df.str.startswith('P')

0     True
1     True
2    False
3    False
4    False
dtype: bool

#### **10.12. endswith():** *Returns true if the element in the Series/Index ends with the pattern.*

In [52]:
df.str.endswith('s')

0    False
1    False
2    False
3    False
4     True
dtype: bool

#### **10.13. islower():** *Checks whether all characters in each string in the Series/Index in lower case or not. Returns Boolean*

In [53]:
df.str.islower()

0    False
1    False
2     True
3    False
4    False
dtype: bool

#### **10.14. isupper():** *Checks whether all characters in each string in the Series/Index in upper case or not. Returns Boolean*

In [54]:
df.str.isupper()

0    False
1    False
2    False
3    False
4    False
dtype: bool

#### **10.15. count():** *Returns count of appearance of pattern in each element*

In [55]:
df.str.count('a')

0    0
1    1
2    0
3    2
4    1
dtype: int64